* {
    font-family: sans-serif;
}

.question-container {
    display: flex;
    flex-direction: column;
    margin: 25px auto auto 20px;
}

.options {
    margin-bottom: 3px;
    padding: 10px 10px 10px 0px;
    background-color: #dadada;
}

.next-btn {
    padding: 10px 25px 10px 25px;
    background-color: cornflowerblue;
    color: white;
    border-radius: 4px;
}