* {
    font-family: sans-serif;
}

body {
    background-color: cornsilk;
}

.startQuizContainer {
    border-radius:5px;
    padding: 35px;
    text-align: center;
    width: 65%;
    margin: auto;
    background-color: #dadada;
    box-shadow: 2px 2px 2px;
    
}

.anouncement {
    padding-bottom: 10px;
    border-bottom: cornflowerblue 1px solid;
}

.active {
    display:block;
}

.hide {
    display: none;
}

.question-container {
    display: flex;
    flex-direction: column;
    margin: 25px auto auto 20px;
}

.quizName {
    text-align: center;
}

.options {
    margin-bottom: 3px;
    padding: 10px 10px 10px 0px;
    background-color: #dadada;
    font-size: 1.2rem;
}

.options:hover {
    cursor: pointer;
    box-shadow: 2px 2px 3px black;
}

.answerText {
    background-color: #dadada;
}

.btn {
    margin-top:10px;
    padding: 10px 25px 10px 25px;
    background-color: cornflowerblue;
    border: cornflowerblue ;
    color: white;
    border-radius: 4px;
    font-weight: bold;
}

.btn::after {
    content: " >";
}

.btn:hover {
    box-shadow: 2px 2px 3px black;
    cursor: pointer;
    border: #dadada solid 1px;
}

#Next {
    width: 100px;
    height: 45px;
}

.resultsPage {
    border-radius:5px;
    padding: 35px;
    text-align: center;
    width: 65%;
    margin: auto;
    background-color: #dadada;
    box-shadow: 2px 2px 2px;
    
}

.passed {
    background-color: rgb(20, 100, 53);
    border-radius:5px;
    padding: 35px;
    text-align: center;
    width: 65%;
    margin: auto;
    box-shadow: 2px 2px 4px;
    color: cornsilk;
    font-size: 1.3em;
}
 .resultsAnouncement {
    padding-bottom: 10px;
    border-bottom: cornsilk 1px solid;
    color: cornsilk;
    font-size: 1.8em;
 }

 .passedBtn {
    margin-top:10px;
    padding: 10px 25px 10px 25px;
    border: cornflowerblue ;
    color: white;
    border-radius: 4px;
    font-weight: bold; 
    font-size: 1.2em;
    background-color: slateblue;
 }

 .passedBtn:hover {
    box-shadow: 2px 2px 3px black;
    cursor: pointer;
    border: #dadada solid 1px;
 }

.failed {
    background-color: rgb(201, 74, 51);
    border-radius:5px;
    padding: 35px;
    text-align: center;
    width: 65%;
    margin: auto;
    box-shadow: 2px 2px 4px;
    color: cornsilk;
    font-size: 1.3em;
}

.failedBtn {
    font-size: 1.2em;
    background-color: rgb(73, 153, 49);
    margin-top:10px;
    padding: 10px 25px 10px 25px;
    border: cornflowerblue ;
    color: white;
    border-radius: 4px;
    font-weight: bold;
 }

 .failedBtn:hover {
    box-shadow: 2px 2px 3px black;
    cursor: pointer;
    border: #dadada solid 1px;
 }